<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YHXVH2VW84"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-YHXVH2VW84');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap" rel="stylesheet">
    <title>ezpoll</title>
    <style>
        div.firebase-emulator-warning {
            display: none;
        }
    </style>
</head>

<body>
    <div id="app"></div>
    <script type="text/javascript">
        window.RESOURCES = {
            VERSION: "<%= htmlWebpackPlugin.options.globalConstants.VERSION %>",
            PRODUCTION: "<%= htmlWebpackPlugin.options.globalConstants.PRODUCTION %>"
        };
    </script>
</body>

</html>